.prince{ display: flex;
flex-direction: column;
 
.ima{
    height: 20em;
    width: 30em;
}
}

.texted{
    color: white;
    padding: 1em 1em;
    font-size: 20px;
}

.afaa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}