*{
    background-color: #520084;
}

.Home{
    display: flex;
    flex-direction: column;
    
    .img
{ 
    padding-top: 2vh ;
    height: 60px;
    width: 111px;
}

 .sec{
    display: flex;
    flex-direction: row;
 }

 .text{color: white;
height: 10px;
font-family: 'bold';
align-items: center;
justify-content: center;
justify-items: c;
 }
hr{
    margin-top: 1em;
    margin-bottom: 1em;
}
}