.main{ 
 display:flex;
 flex-direction: row;
 background-color: black;
 justify-content:space-evenly ;
 width: 50em;
height: 2em;
align-items: center;

margin-top: 2em;
border-radius: 20px;
}
.sus{display:flex;
    flex-direction: row;
    margin-right: 15em;
    
}

.p{ 
    padding: 0em 2em;
    color: white;
    background-color: black;
    
}

.ip{
    background-color: white;
    border: none;
    border-radius: 20px;
    height: 1em;
   width: 20em;
    margin: 20px;

}



.sas{display:flex;
    flex-direction: row;
    height: 1em;
    margin-bottom: 12px;
    margin-right: 1em;
    background-image:'site/public/assets/images/lupada.png';
    }




 
 
 

    