
.mae{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
   

    .sec1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .texto{
        font-size: 20px;
        color: white;
        font-family: 'medium';
        
        
    }
    .texto2{
        font-size: 20px;
        color: white;
        
      
        
    }
    .div1{
      
        padding: 3em 3em;
        
        
    }

    .div2{
        display: flex;
        flex-direction: row;
        padding: 3em;
        
        
       
    }

    h1{
        font-family: 'bold';
        font-size: 20px;
        color: white;
        width: 250px;
      
    }

    img{
        width: 15em;
        height: 10em;
        margin-top: 10em;
    }

    .sec2{
       display: flex;
       justify-content: center;
    }

    .sec3{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}