* {
    box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
    font-family: 'Roboto'; 
    background-color: #520084;
    
  }

  textarea {
    resize: none;
  }
  
  @font-face {
    font-family: 'medium';
    src: url(../public/assets/fonts/Raleway-MediumItalic.ttf);
  }

  @font-face {
    font-family: 'bold';
    src: url(../public/assets/fonts/Raleway-SemiBoldItalic.ttf);
  }

  @font-face {
    font-family:  'robotoBold';
    src: url(../public/assets/fonts/robotobold.ttf);
  }